<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
        <div id="logo">
          <h1>MAX WANG</h1>
        </div>
      <% end %>
    </div>

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li>About</li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><a href="https://twitter.com/max_wang6">Twitter</a></li>
      <li><a href="https://github.com/maxwang051">GitHub</a></li>
      <li><a href="https://instagram.com/maximus061/">Instagram</a></li>
      <li><a href="mailto:maxwang051@gmail.com">Email</a></li>
    </ul>

    <p class="sign_in">Admin Login</p>
  </div>

  <div id="main_content">
    <div id="header">
      <p>All Posts</p>

      <div class="buttons">
        <%= link_to "New Post", new_post_path, :class => "button" %>
        
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
